<ion-content style="--background: #fff;">


<div style="text-align: center">
  <img src="/assets/img/logo.jpg" style="width: 60%; margin-top: 8px" />
  <p style="color: grey; font-size: large"><b>Work App Update</b></p>
  <a href="https://play.google.com/store/apps/details?id=io.ionic.txwworkapp&hl=en_IN">
    <button
      style="
        background-color: #027dc1; /* Blue */
        border: none;
        color: white;
        width: 70%;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 8px;
        margin-bottom: 0px;
      "
    >
      Update
    </button>
  </a>
  <p
    style="
      color: grey;
      padding-left: 32px;
      padding-right: 32px;
      font-size: x-small;
    "
  >
    If the app is not updated automatically, Kindly uninstall the app and
    install again.
  </p>
</div>
</ion-content>