h5 {
    margin-left: 11px;
    font-size: 13px;
    color: gray;
    margin-top: 0;
  }
  
  
  .boy {
    width: 20px;
    border-radius: 50px;
    height: 20px;
    margin-top: -2px;
    margin-left: 17px;
  }
  
  
  .goom {
    margin-left: 42px;
    margin-top: -20px;
    font-size: 12px;
    color: #000;
  }
  
  
  // .button {
  //   margin-left: 64%;
  //   margin-top: -59px;
  //   height: 25px;
  //   width: 31%;
  //   // --background: #0c7cbc;
  //   text-transform: none;
  // }
  
  ion-header {
    background: #047ac2;
    color: #fff;
  }
  

  
  
  .your {
    margin-left: 19px;
    color: gray;
    margin-top: 12px;
    font-size: 15px;
  }
  
  .button44 {
    margin-left: 0px;
    margin-top: 7%;
    font-size: 12px;
    height: 29px;
    width: 106%;
    --background: whitesmoke;
    color: #000
  }
  
  .button45 {
    margin-left: 5px;
    margin-top: 7%;
    height: 29px;
    width: 95%;
    font-size: 12px;
    text-transform: none;
    --background: whitesmoke;
    color: #000
  }
  
  .button42 {
    margin-left: 0px;
    margin-top: 7%;
    height: 29px;
    width: 95%;
    font-size: 12px;
    --background: #047ac2;
    color: #000;
    text-transform: none;
  }
  
  
  // .button44:hover {
  //   --background: #fff;
  //   --color: #000;
  // }
  
  // .button45:hover {
  //   --background: #027dc1;
  //   --color: #000;
  // }
  
  .view {
    margin-left: 65%;
    margin-top: -8%;
    color: gray;
  }
  
  
  .card{
    padding-bottom: 0px;
    --background: #fff;
    color: #000;
    margin-bottom: 20px;
  }
  
  
  ion-segment-button {
    --indicator-color: none;
  }
  
  /* Material Design styles */
  ion-segment-button.md {
    --color: #000;
    --color-checked: #08a391;
    --indicator-height: 4px;
    text-transform: none;
  }
  
  /* iOS styles */
  ion-segment-button.ios {
    --color: #08a391;
    --color-checked: #fff;
    --border-radius: 20px;
    text-transform: none;
  }
  
  .button99{
    margin-left: 64%;
    margin-top: -59px;
    height: 25px;
    width: 31%;
    --background: #0c7cbc;
    text-transform: none;
  }
  
  
  .short{
    left: 43%;
    
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 7px;
      color: #000;
      font-weight: 500;
  }
  
  
  .side{
    font-size: 13px;
    margin-left: 3%;
  }

  ion-segment-button.md {
    --color: #000;
    --color-checked: none;
    --indicator-height: 4px
  
  }
  
  ion-segment-button {
    --indicator-color: none;
  }
  
  
  ion-label{
    text-transform: none;
  }
  
  