
<ion-content>
  <div>
    <h3 class="h3">Verification Code</h3>
    <div class="div">
      <ion-icon
        [routerLink]="['/cop-current-tickets']"
        class="icon"
        name="chevron-back-outline"
      ></ion-icon>
    </div>
  </div>
  <div *ngIf="tea">
    <!-- <ng-otp-input ></ng-otp-input> -->
    <div>
      <ion-card    
        style="
          margin-top: 30%;
          padding-bottom: 5%;
          border-radius: 10px;
          background: #fff;
          box-shadow: none;
        "
      >
        <h3
          style="
            text-align: center;
            color: black;
            font-weight: bold;
            font-family: Helvetica;
            margin-top: 26px;
          "
        >
          Verification Code
        </h3>

        <ion-grid style="margin-top: -16px">
          <ion-row>
            <ion-col>
              <input
                #txt1
                type="number"
                (keyup)="move($event,'', txt1, txt2)"
                [(ngModel)]="userdetails.otp1"
                maxlength="1"
                id="input"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                class="input"
              />
            </ion-col>
            <ion-col>
              <input
                #txt2
                type="number"
                (keyup)="move($event,txt1, txt2, txt3)"
                [(ngModel)]="userdetails.otp2"
                maxlength="1"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                class="input"
                placeholder=""
                name="number"
              />
            </ion-col>
            <ion-col>
              <input
                #txt3
                type="number"
                (keyup)="move($event,txt2, txt3, txt4)"
                [(ngModel)]="userdetails.otp3"
                maxlength="1"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                class="input"
              />
            </ion-col>
            <ion-col>
              <input
                #txt4
                type="number"
                (keyup)="move($event,txt3, txt4, '')"
                [(ngModel)]="userdetails.otp4"
                maxlength="1"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                class="input"
              />
            </ion-col>
          </ion-row>
        </ion-grid>

        <div style="margin-top: -5px">
          <div *ngIf="timingIsOver" style="text-align: center">
            <h5 style="color: #434c60; font-size: 16px">
              l didn't receive code.

              <a
                style="color: #d67963; font-weight: 600"
                (click)="  resend_otp()"
              >
                Resend Code</a
              >
            </h5>
          </div>

          <div *ngIf="resend" style="text-align: center; margin-top: 6%">
          <h5 style="
              color: black;
              font-weight: 600;
              margin-top: 0;
              font-size: 16px;
              margin-right: 2px;
            ">
            {{ count }}
            sec left
          </h5>
        </div>
        </div>
        <div *ngIf="button">
          <ion-button [disabled]="!button" class="button" (click)="  submit()">
            Verify Now
          </ion-button>
        </div>
      </ion-card>
    </div>
    <div id="sec" style="color: #000"></div>
    <div></div>
  </div>
  <div *ngIf="hide">


    <div style="display: flex;justify-content: space-between;margin-top: 6%;">
      <div>
        <span style="margin-left: 17px" class="span"> Before Img </span>
      </div>
      <div style="margin-left: 20%">
        <ion-button [disabled]="isButtonDisabled11" (click)="captureImage()" id="cap">Capture
        </ion-button>
      </div>
      <div *ngIf="add" style="margin-right: 19px">
        <div *ngIf="img">
          <samp><ion-icon (click)="click_to_next()" style="font-size: 20px; color: red"
              name="add-circle-outline"></ion-icon></samp>
        </div>
      </div>
    </div>
    <div>
      <img [src]="clickedImage" />
    </div>
    <div *ngIf="open3" style="
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
">
      <div>
        <span style="margin-left: 17px" class="span"> Before Img </span>
      </div>
      <div style="margin-left: 20%">
        <ion-button [disabled]="isButtonDisabled22" (click)="capture()" id="cap">Capture
        </ion-button>
      </div>
      <div *ngIf="add2" style="margin-right: 19px">
        <div *ngIf="img2">
          <samp><ion-icon (click)="click_to_next2()" style="font-size: 20px; color: red"
              name="add-circle-outline"></ion-icon></samp>
        </div>
      </div>
    </div>
    <div>
      <img [src]="clicked" />
    </div>
    <div *ngIf="open4" style="
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
">
      <div>
        <span style="margin-left: 17px" class="span"> Before Img </span>
      </div>
      <div style="margin-left: 30%">
        <ion-button [disabled]="isButtonDisabled33" (click)="IMG()" id="cap">Capture
        </ion-button>
      </div>
      <div *ngIf="add22" style="margin-right: 19px">
        <div *ngIf="img22">
          <samp><ion-icon style="font-size: 20px; color: red" name="add-circle-outline"></ion-icon></samp>
        </div>
      </div>
    </div>
    <div>
      <img [src]="clickedd" />
    </div>
    <div>
      <ion-button (click)="route_to_profile_answer(BookingID)" [disabled]="!button"
        [ngClass]="{'gray-button':!button}" class="button" expand="block">
       Submit </ion-button>
    </div>
  </div>


</ion-content>
