ion-content {
  --background: #fff;
}



.tech {
  margin-top: 5%;
  text-align: center;


}

.enter {
  font-size: 16px;
  margin-left: 5%;
  margin-top: 20%;
  font-weight: bold
}

.input {
  margin-left: 17px;
  margin-right: 35px;
  margin-top: 8%;
  height: 48px;
  color: #000;
  width: 90%;
}

.input1 {
  --padding-top: 12px;
  color: #000;
  background: whitesmoke;
  height: 56px;

}

.button {
  margin-top: 14%;
  margin-left: 5%;
  margin-right: 35px;
  height: 48px;
  --padding-top: 1px;
  --background: #0c7cbc;
  width: 90%;
}

.enter1 {
  font-size: 16px;
  margin-left: 5%;
  margin-top: 14%;
  font-weight: bold
}



.center {
  margin-left: 37%;
  margin-top: 13px;
  font-weight: 700;
}

.google {
  border: 2px solid #0c7cbc;
  margin-left: 5%;
  width: 85%;
  height: 50px;
}

.facebook {
  border: 2px solid #0c7cbc;
  margin-left: 5%;
  width: 85%;
  height: 50px;

}

.center1 {
  margin-left: 35%;
  margin-top: 13px;
  font-weight: 700;
  color: #000;
}

.img2 {
  width: 23px;
  margin-left: 26%;
}



.skip {
  margin-left: 76%;
  margin-top: -22%;
  height: 22px;
  --border-radius: 21px;
  --background: #fff;
  color: #000;
}

.home {
  margin-top: 5px;
  margin-left: 55px;
  font-weight: bold;
  font-size: 18px;
  color: #000
}


.aari {
  width: 20%;
  margin-left: 49%;
  margin-top: 19px;
}

.blub {
  width: 20%;
  margin-left: 68%;
  margin-top: -31px;
}

.jharu {
  width: 20%;
  margin-left: 39%;
  margin-top: -4%;
}

.accc {
  width: 19%;
  margin-left: 14px;
  margin-top: 18%;
}

.brush {
  width: 19%;
  margin-left: 68%;

}


.eye{
  
  position: absolute;
  z-index: 3;
  margin-left: 78%;
  margin-top: 5%;

}