.div  {
  margin: 6%;
}

.icon{
    font-size: 20px;
    color: #000;
}

h3{
    color: #000;
}

.button {
    margin-top: 10%;
    margin-left: 5%;
    height: 44px;
    --padding-top: 1px;
    --background: #0c7cbc;
    width: 80%;
    color: #fff;

  
  }
  .button22 {
    margin-top: 10%;
    margin-left: 5%;
    height: 44px;
    --padding-top: 1px;
    --background: #0c7cbc;
    width: 80%;
    color: #000;

  }