img{
    margin-top: 13px;
    width: 20%;
    margin-left: 74%;
  
  }
  .card {
    padding-bottom: 10px;
    box-shadow: none;
    margin-top: 10px;
    // margin-left: 14px;
    // margin-right: 14px;
    border-radius: 10px;
    background: #fff;
    margin-left: 0px;
  }
  .button22 {
    margin-top: 14%;
    margin-left: 5%;
    margin-right: 35px;
    height: 48px;
    --padding-top: 1px;
    --background: #0c7cbc;
    text-transform: none;
    font-size: 16px;
  }
  ion-label {
    color: #000;
    font-weight: 600;
  }
  .h3 {
    text-align: center;
    color: #000;
    font-size: 20px;
  }
  
  .div {
    margin-top: -29px;
    padding-bottom: 12px;
  }
  
  
  .icon {
    margin-top: -6px;
    margin-left: 2%;
    color: #000;
    font-size: x-large;
  }
  