

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >PPM Tickets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #fff">
  <!-- <div>
    <h3 class="h3">Corporate Tickets</h3>
    <div class="div">
      <ion-icon
        routerLink="/rocket"
        class="icon"
        name="chevron-back-outline"
      ></ion-icon>
    </div>
  </div>
  <div>
    <ion-buttons style="color: #000; margin-left: 54%; margin-top: 2px">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </div> -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>
    <ion-row>
      <ion-col size ="12">
        <ion-segment  [scrollable]="true">
          <!-- <ion-segment-button routerLink="/corprate-tickets" >
            <ion-label>Current</ion-label>
          </ion-segment-button>
          <ion-segment-button routerLink="/corprate-past-tickets" >
            <ion-label  >Past </ion-label>
          </ion-segment-button > -->
          <ion-segment-button  routerLink="/ppm-tickets">
            <ion-label  >Open </ion-label>
          </ion-segment-button>
          <ion-segment-button style="color: #0c7cbc;" >
            <ion-label  >Close</ion-label>
          </ion-segment-button>
          <!-- <ion-segment-button  routerLink="/city-tickets" style="color: green;" >
            <ion-label>City </ion-label>
          </ion-segment-button> -->
          <!-- <ion-segment-button  routerLink="/account-tickets"  style="color: brown;" >
            <ion-label>Account </ion-label>
          </ion-segment-button> -->
        </ion-segment>

   
      </ion-col>
    </ion-row>
     </ion-grid>
  <div *ngIf="show"   style="text-align: center;margin-top: 28%;">
    <img src="/assets/img/opps.jpg" alt="">
<h2 style="font-weight: bold;  color: #000;">
  There Are No Tickets Found
</h2>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div  *ngFor="let user of obj">
    <ion-card>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 8px;
        "
      >
        <div style="color: #000; font-weight: 700">
          <span>{{user.TicketID}}</span>
        </div>
        <div
          style="margin-right: 10%; font-size: 20px; color: red"
          (click)="route_to_profile_answer_screen(user.ID)(user.ID)"
        >
          <ion-icon name="eye-outline"></ion-icon>
        </div>
      </div>
      <div>
        <!-- <div style="display: flex; align-items: center; margin: 8px">
          <div style="color: #000; font-size: large; margin-top: 4px">
            <ion-icon name="settings-outline"></ion-icon>
          </div>
          <div style="margin-left: 8px; color: #000">
            <span> {{ user.Type}}</span>
          </div>
        </div> -->

        <div style="display: flex; align-items: center; margin: 8px">
          <div style="color: #000; font-size: large; margin-top: 4px">
            <ion-icon name="clipboard-outline"></ion-icon>
          </div>
          <div style="margin-left: 8px; color: #000">
            <span> {{user.Status}}</span>
          </div>
        </div>

        <div style="display: flex; align-items: center; margin: 8px">
          <div style="color: #000; font-size: large; margin-top: 4px">
            <ion-icon name="calendar-outline"></ion-icon>
          </div>
          <div style="margin-left: 8px; color: #000">
            <span *ngIf="user.PPMDate == ''"> Not Set</span>
            <span *ngIf="user.PPMDate != ''"> {{user.PPMDate}}</span>
          </div>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
