
<div style="background: #fff; color: #000;">
  <h3 class="h3">Ticket Information</h3>
  <div class="div">
    <ion-icon routerLink="/vendor-new-page" class="icon2" name="chevron-back-outline"></ion-icon>
  </div>
</div>


<ion-content style="--background: #fff;">
  




<!--   
  <div style="display: flex; justify-content: space-around; margin-top: 4%;">
    <div style="width: 20%; ">
      <img src="/assets/img/accc.png" alt="" />
    </div>vendor-new-page
    <div style="width: 20%; margin-top: 22px;  ">
      <img src="/assets/img/jharu pocha.png" />
    </div>
    <div style="width: 20%;  ">
      <img src="/assets/img/brush.png" />
    </div>
 
  </div>   -->
  <div>
    <img   src="/assets/img/ppm_services.gif" alt="" />
  </div> 
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card >
       <img  routerLink="/corprate-tickets" src="/assets/img/City_Tickets.png" alt="" ><p>ALL Tickets</p>
      </ion-card>
      </ion-col>
      <ion-col>
      <ion-card>
     <img routerLink="/ppm-tickets"  src="/assets/img/ppm_tickets.png" alt="" ><p>PPM Tickets </p>
    </ion-card>
    </ion-col>

  
    </ion-row>

   
  </ion-grid>
</ion-content>