.h3 {
    text-align: center;
    color: #000;
    font-size: 20px;
  }
  
  .div {
    margin-top: -29px;
    padding-bottom: 12px;
  }
  
  
  .icon {
    margin-top: -6px;
    margin-left: 2%;
    color: #000;
    font-size: x-large;
  }
  
  ion-header {
    background: #047ac2;
    color: #fff;
  }


  .button {
    margin-top: 14%;
    margin-left: 5%;
    margin-right: 35px;
    height: 48px;
    --padding-top: 1px;
    --background: #0c7cbc;
    width: 90%;
    --border-radius: 10px;
   text-transform: none;
  }
  
  img{
    width: 34%;
    height: 150px;
    border-radius: 50%;
  }