
<ion-content style="--background: #e4f5ff">
  <ion-fab (click)="logout()" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button id="col">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div>
    <img class="blub" src="/assets/img/bulb.png" alt="" />
  </div>
  <div>
    <img class="aari" src="/assets/img/aari.png" alt="" />
  </div>
  <div style=" margin-top: 30%; text-align: center;">
    <div>
      <button (click)="net()" routerLink="/home" class="joinBtn2">Home Care Service</button>
    </div>
    <div style="margin-top: 8%">
      <button (click)="next()" class="joinBtn3">Corporate Service</button>
    </div>
  </div>
  <div style="display: flex">
    <div style="width: 20%; margin-left: 3%; margin-top: 3%">
      <img src="/assets/img/accc.png" alt="" />
    </div>
    <div style="width: 20%; margin-left: 49%; margin-top: 6%">
      <img src="/assets/img/brush.png" />
    </div>
  </div>
  <div style="    width: 20%;
  margin-left: 41%;
  margin-top: 16%;">
    <img src="/assets/img/jharu pocha.png" />
  </div>

</ion-content>
