
<ion-content style="--background: #fff">
 
  <div>
    <h3 class="h3">Ticket Information</h3>
    <div class="div">
      <ion-icon routerLink="/ppm-account-branch" class="icon" name="chevron-back-outline"></ion-icon>
    </div>
  </div>

    <div *ngIf="show" style="text-align: center; margin-top: 28%">
      <img src="/assets/img/opps.jpg" alt="" />
      <h2 style="font-weight: bold">There Are No Tickets Found</h2>
    </div>
<div style="display: flex;
    justify-content: space-between; align-items: center;">
<div>
  <h4 style="margin-left: 20px; color: #000">{{ impact.TicketID }}</h4>
</div>

</div>
<ion-card style="box-shadow: none; background: #fff">
  <div style=" display: flex;justify-content: space-between;">
    <div class="right">
      <h4 class="type" >Type</h4>
    </div>
    <div *ngIf="impact.Type == '' ">
    <h4 class="left" >Not Set</h4>
   </div>
   <div *ngIf="impact.Type != '' ">
    <h4 class="left" >{{ impact.Type }}</h4>
   </div>
  </div>
  <div style=" display: flex;justify-content: space-between;">
    <div class="right">
      <h4  class="type" >Branch</h4>
    </div>
    <div *ngIf="impact.BranchSite == '' ">
    <h4 class="left" >Not Set</h4>
   </div>
   <div *ngIf="impact.BranchSite != '' ">
    <h4 class="left" >{{ impact.BranchSite }}</h4>
   </div>
  </div>
  <!-- <div style=" display: flex;justify-content: space-between;">
    <div class="right">
      <h4 class="type"  >Company</h4>
    </div>
    <div *ngIf="impact.CompanyName == '' ">
    <h4 class="left" >Not Set</h4>
   </div>
   <div *ngIf="impact.CompanyName != '' ">
    <h4 class="left" >{{ impact.CompanyName }}</h4>
   </div>
  </div> -->
  <div style=" display: flex;justify-content: space-between;">
    <div class="right">
      <h4  class="type" >Employee Name</h4>
    </div>
    <div *ngIf="impact.EmployeeName == '' ">
    <h4 class="left" >Not Set</h4>
   </div>
   <div *ngIf="impact.EmployeeName != '' ">
    <h4 class="left" >{{ impact.EmployeeName }}</h4>
   </div>
  </div>
  <div style=" display: flex;justify-content: space-between;">
    <div class="right">
      <h4  class="type" >Status</h4>
    </div>
    <div *ngIf="impact.Status == '' ">
    <h4 class="left" >Not Set</h4>
   </div>
   <div *ngIf="impact.Status != '' ">
    <h4 class="left" >{{ impact.Status }}</h4>
   </div>
  </div>
  <div *ngIf="impact.Type == 'R&M'">
    <div style=" display: flex;justify-content: space-between;">
      <div class="right">
        <h4  class="type" >Service</h4>
      </div>
      <div *ngIf="impact.Service == '' ">
      <h4 class="left" >Not Set</h4>
     </div>
     <div *ngIf="impact.Service != '' ">
      <h4 class="left" >{{ impact.Service }}</h4>
     </div>
    </div>
    <div style=" display: flex;justify-content: space-between;">
      <div class="right">
        <h4  class="type" >Subservice</h4>
      </div>
      <div *ngIf="impact.Subservice == '' ">
      <h4 class="left" >Not Set</h4>
     </div>
     <div *ngIf="impact.Subservice != '' ">
      <h4 class="left" >{{ impact.Subservice }}</h4>
     </div>
    </div>
  </div>
  <div  *ngIf="impact.Type == 'AMC'">
    <div style=" display: flex;justify-content: space-between;">
      <div class="right">
        <h4  class="type" >Equipment Name</h4>
      </div>
      <div *ngIf="impact.EquipmentName  == '' ">
      <h4 class="left" >Not Set</h4>
     </div>
     <div *ngIf="impact.EquipmentName != '' ">
      <h4 class="left" >{{ impact.EquipmentName }}</h4>
     </div>
    </div>
  </div>
  <div  >
    <div style=" display: flex;justify-content: space-between;">
      <div class="right">
        <h4  class="type" > Company Name</h4>
      </div>
      <div *ngIf="impact.CompanyName  == '' ">
      <h4 class="left" >Not Set</h4>
     </div>
     <div *ngIf="impact.CompanyName != '' ">
      <h4 class="left" >{{ impact.CompanyName }}</h4>
     </div>
    </div>
  </div>



  <div style=" display: flex;justify-content: space-between;">
    <div class="right">
      <h4  class="type" >Due Date</h4>
    </div>
    <div *ngIf="impact.DueDate == '' ">
    <h4 class="left" >Not Set</h4>
   </div>
   <div *ngIf="impact.DueDate!= '' ">
    <h4 class="left" >{{ impact.DueDate }}</h4>
   </div>
  </div>



  
  <!-- <div style=" display: flex;justify-content: space-between;">
    <div class="right">
      <h4  class="type" >Priority </h4>
    </div>
    <div *ngIf="impact.Priority== '' ">
    <h4 class="left" >Not Set</h4>
   </div>
   <div *ngIf="impact.Priority != '' ">
    <h4 class="left" >{{impact.Priority}}</h4>
   </div>
  </div>  -->



  <div style=" display: flex;justify-content: space-between;">
    <div class="right">
      <h4  class="type" >Booking Date</h4>
    </div>
    <div *ngIf="impact.CreatedDate == '' ">
    <h4 class="left" >Not Set</h4>
   </div>
   <div *ngIf="impact.CreatedDate != '' ">
    <h4 class="left" >{{impact.CreatedDate}}</h4>
   </div>
  </div>




  <div style=" display: flex;justify-content: space-between;">
    <div class="right">
      <h4  class="type" >Booking Time </h4>
    </div>
    <div *ngIf="impact.CreatedTime == '' ">
    <h4 class="left" >Not Set</h4>
   </div>
   <div *ngIf="impact.CreatedTime != '' ">
    <h4 class="left" >{{impact.CreatedTime}}</h4>
   </div>
  </div>

  <div *ngIf="impact.Type == 'AMC'" style=" display: flex;justify-content: space-between;">
    <div class="right">
      <h4  class="type" > Category Name </h4>
    </div>
    <div *ngIf="impact.CategoryName == '' ">
    <h4 class="left" >Not Set</h4>
   </div>
   <div *ngIf="impact.CategoryName != '' ">
    <h4 class="left" >{{impact.CategoryName}}</h4>
   </div>
  </div>

  <div style=" display: flex;justify-content: space-between;">
    <div class="right">
      <h4  class="type" >Make/Model      </h4>
    </div>
    <div *ngIf="impact.Make  == '' ">
    <h4 class="left" >Not Set</h4>
   </div>
   <div *ngIf="impact.Make!= '' ">
    <h4 class="left" >{{impact.Make}}</h4>
   </div>
  </div>

  <!-- <div style=" display: flex;justify-content: space-between;">
    <div class="right">
      <h4  class="type"  </h4>
    </div>
    <div *ngIf="impact.BranchAddress1== '' ">
    <h4 class="left" >Not Set</h4>
   </div>
   <div *ngIf="impact.BranchAddress1 != '' ">
    <h4 class="left" >{{impact.BranchAddress1}}</h4>
   </div>
  </div> -->


 <div class="mess">
    <span><b> Branch Address</b></span>
  </div>
  <div style="    margin-left: 2%;
    color: #000;">
    <p>{{ impact.BranchAddress1}}</p>
  </div> 
 <!-- <div>
  <h6>Image</h6>
</div>
<div *ngFor="lets image  of image ">
  <img src="{{image.ticket_image }}" alt="">
</div> --> 


  <div *ngIf="costly"  style=" display: flex;
  justify-content: space-between;
  border: 2px solid;
  width: 100%; margin-top: 2%;"   routerLink="/finance-cost">
    <div class="right">
      <h4 style="font-weight: 700;" class="type" >Finance Cost</h4>
    </div>
  
   <div>
    <h4 class="left" style="color: red;
    font-weight: 700; font-size: 16px;" > View</h4>
   </div>
  </div>
</ion-card>
<div>
  <div *ngIf="Change_Ticket_Status">
    <ion-button (click)=" route_to_profile_answer_screen(BookingID)"
     class="button22" expand="block">
     Change Ticket Status </ion-button>
  </div>
   <div *ngIf="Start_Work">
    <ion-button (click)="route_to_profile_pmm_submit(BookingID)"
      [ngClass]="{'gray-button':!button}" class="button22" expand="block">
     Start Work </ion-button>
  </div>
  <!-- <div *ngIf="closer">
    <ion-button  [disabled]="!button"
      [ngClass]="{'gray-button':!button}" class="button22" expand="block">
     This Ticket has Been Closed </ion-button>
  </div>
  <div *ngIf="submit_For_closer">
    <ion-button (click)=" route_to_profile_closer(BookingID)"
      [ngClass]="{'gray-button':!button}" class="button22" expand="block">
     View Details</ion-button>
  </div> --> 
</div>


</ion-content>  
