.h3 {
    text-align: center;
    color: #000;
    font-size: 20px;
  }
  
  .div {
    margin-top: -29px;
    padding-bottom: 12px;
  }
  .icon2{
    // margin-top: 17px;
    // margin-left: 100px;
    font-size: 25px;
    color: red;
    }
    
    #cap{
      height: 30px;
      width: 84%;
      margin-left: 4%;
      --border-radius: 20px;
      --background: #027dc1;
      text-transform: none;
      margin-top: -1px;
      font-size: 15px;
    }
  .disabled-btn {
    color: #999;
    background-color: #eee;
    cursor: not-allowed;
  }
  .icon {
    margin-top: -6px;
    margin-left: 2%;
    color: #000;
    font-size: x-large;
  }
  
  ion-header {
    background: #047ac2;
    color: #fff;
  }
  
  // .button22 {
  //   margin-top: 14%;
  //   margin-left: 5%;
  //   margin-right: 35px;
  //   height: 48px;
  //   --padding-top: 1px;
  //   --background: #0c7cbc;
  
  // }
  
  
  .booking {
    margin-top: 10%;
    width: 25%;
    height: 25%;
    margin-left: 28%;
    border-radius: 72px;
  }
  
  
  .plum {
    margin-left: 68%;
  
    color: #000;
    font-size: 15px;
    margin-top: -28px;
  }
  
  .serv {
  
    text-transform: none;
    font-size: 16px;
    color: #000;
  
  }
  
  .right {
  margin-left:9px;
  color: #000;
  font-size: 14px;
  }
  .left {
    margin-right:12px;
    color: #000;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  
  
    }
    .type{
      color: #000;
    font-size: 15px
    }
    .add{
      margin-left: 12px;
      border: solid whitesmoke;
      padding-top: 2px;
      padding-right: 10px;
      padding-left: 10px;
      padding-bottom: 4px;
      border-radius: 5px;
      background: #027dc1;
      color: #fff;
    }
  .button22 {
    margin-top: 14%;
    margin-left: 5%;
    margin-right: 35px;
    height: 48px;
    --padding-top: 1px;
    --background: #0c7cbc;
    text-transform: none;
    font-size: 16px;
  }
  
  
  
  
  .mess{
    margin-left: 3%;
    margin-top: 7px;
    color: #000;
  }
  
  .ser_report{
    font-size: 11px;
    border: 2px solid;
    padding: 4px;
    border-radius: 12px;
    font-weight: 700;
    text-transform: none;
    width: 92%;
    margin-top: 11px;
    --background: green;
  }