.mismatch-modal-content {
  --background: #f8f9fa; /* Light background for modal */
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12%;
  text-align: center;
  padding: 16px;
}

.modal-logo {
  width: 120px;
  height: auto;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 9px;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  color: #d9534f; /* Red color for error title */
  margin-bottom: 8px;
}

.modal-message {
  font-size: 16px;
  color: #444;
  margin-bottom: 20px;
  padding: 0 10px;
  line-height: 1.5;
}

// ion-button {
//   --border-radius: 8px;
//   font-size: 16px;
//   font-weight: 500;
//   padding: 10px;
//   width: 80%;
//   max-width: 250px;
// }

.button22 {
  margin-top: 14%;
  margin-left: 5%;
  margin-right: 5%;
  height: 48px;
  --padding-top: 1px;
  --background: #0c7cbc;
  width: 90%;
}
