<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center; color: #000;">HVAC Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="userdetails.Condition">
        <ion-list-header style="color: #000; font-weight: 600; font-size: large;">
          Please Select Condition
        </ion-list-header>
        <ion-item>
          <ion-label>Good</ion-label>
          <ion-radio value="GOOD"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Not Good</ion-label>
          <ion-radio value="NOT GOOD"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-radio-group>
        <ion-item>
          <ion-label>Bad</ion-label>
          <ion-radio value="BER"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="userdetails.COMPLAINT_TYPE">
        <ion-list-header style="color: #000; font-weight: 600; font-size: large;">
          COMPLAINT TYPE
        </ion-list-header>
        <ion-item>
          <ion-label>Breakdown </ion-label>
          <ion-radio value="BREAKDOWN "></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>PPM </ion-label>
          <ion-radio value="PPM"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="userdetails. Monthly">
        <ion-list-header style="color: #000; font-weight: 600; font-size: large;">
          Monthly
        </ion-list-header>
        <ion-item>
          <ion-label>M-1/2 /3/4</ion-label>
          <ion-radio value="M-1/2 /3/4"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Quaterly</ion-label>
          <ion-radio value="Quaterly"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-radio-group>
        <ion-item>
          <ion-label>Q-1/2 /3/4</ion-label>
          <ion-radio value="Q-1/2 /3/4"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Half Yearly</ion-label>
          <ion-radio value="Half Yearly"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>H-1 / H-2</ion-label>
          <ion-radio value="H-1 / H-2"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>



  <ion-item>
    <ion-label position="stacked" style="  font-size: 18px;">Complaint Description <span
        style="color: #d20411">*</span></ion-label>
    <ion-textarea [(ngModel)]="userdetails.ProblemReportedByClient" style=" --padding-bottom: 30px;"
      type="text"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label style="  font-size: 18px;" position="stacked">Action Taken <span
        style="color: #d20411">*</span></ion-label>
    <ion-textarea [(ngModel)]="userdetails.ActionTaken" style=" --padding-bottom: 50px;" type="text"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label style="  font-size: 18px;" position="stacked"> Observation <span
        style="color: #d20411">*</span></ion-label>
    <ion-textarea [(ngModel)]="userdetails.Observation" style=" --padding-bottom: 30px;" type="text"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label style="  font-size: 18px;" position="stacked"> Client Representative Name </ion-label>
    <ion-textarea rows="1" cols="50" [(ngModel)]="userdetails.ClientRepresentative" style=" --padding-bottom: 10px;"
      type="text"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label style="  font-size: 18px;" position="stacked"> Client Representative Contact</ion-label>
    <ion-textarea [(ngModel)]="userdetails.ClientRepresentativeContact" rows="1" cols="50"
      style=" --padding-bottom: 10px;" type="text"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label style="  font-size: 18px;" position="stacked">Email(s) <span style="font-size: 18px;"></span>
    </ion-label>
    <ion-textarea rows="1" cols="50" [(ngModel)]="userdetails.ClientRepresentativeEmails"
      style=" --padding-bottom: 10px;" type="text"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label style="  font-size: 18px;" position="stacked"> Client Representative Designation</ion-label>
    <ion-textarea rows="1" cols="50" [(ngModel)]="userdetails.ClientRepresentativeDesignation"
      style=" --padding-bottom: 10px;" type="text"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label style="  font-size: 18px;" position="stacked"> Remarks</ion-label>
    <ion-textarea rows="1" cols="50" [(ngModel)]="userdetails.Remarks" style=" --padding-bottom: 10px;"
      type="text"></ion-textarea>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="7">
        <strong>Item</strong>
      </ion-col>
      <ion-col size="2">
        <strong>Yes</strong>
      </ion-col>
      <ion-col size="2">
        <strong>No</strong>
      </ion-col>
    </ion-row>


    <div style=" text-align: center;  margin-top: 16px;">


      <ion-lable style=" text-align: center; color: #000; font-weight:700">
      Check Points 
      </ion-lable>
    </div>

    <div style="margin-top: 5%">



      <div class="tickmark">
        <div style="width: 60%;">
          <ion-label>Remove the Dust from the pane</ion-label>
        </div>
        <div>
          <ion-radio-group name=" " [(ngModel)]="userdetails.RemovetheDustpane">
            <ion-item lines="none">
              <ion-radio slot="start" value="yes"></ion-radio>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>

      <div class="tickmark">
        <div style="width: 60%;">
          <ion-label>Check all the indication lamps</ion-label>
        </div>
        <div>
          <ion-radio-group name=" " [(ngModel)]="userdetails.Checkallindicationlamps">
            <ion-item lines="none">
              <ion-radio slot="start" value="yes"></ion-radio>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>

      <div class="tickmark">
        <div style="width: 60%;">
          <ion-label>Check Voltmeter and Ammeter</ion-label>
        </div>
        <div>
          <ion-radio-group name=" " [(ngModel)]="userdetails.CheckVoltmeterandAmmeter">
            <ion-item lines="none">
              <ion-radio slot="start" value="yes"></ion-radio>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>

      <div class="tickmark">
        <div style="width: 60%;">
          <ion-label> Check Selector Switches</ion-label>
        </div>
        <div>
          <ion-radio-group name=" " [(ngModel)]="userdetails.CheckSelectorSwitches">
            <ion-item lines="none">
              <ion-radio slot="start" value="yes"></ion-radio>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>
      <div class="tickmark">
        <div style="width: 60%;">
          <ion-label>Check & Correct loose connection </ion-label>
        </div>
        <div>
          <ion-radio-group name=" " [(ngModel)]="userdetails.Correctlooseconnection ">
            <ion-item lines="none">
              <ion-radio slot="start" value="yes"></ion-radio>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>

      <div class="tickmark">
        <div style="width: 60%;">
          <ion-label>Check all TPN for output</ion-label>
        </div>
        <div>
          <ion-radio-group name=" " [(ngModel)]="userdetails.CheckallTPNforoutput">
            <ion-item lines="none">
              <ion-radio slot="start" value="yes"></ion-radio>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>


      <div class="tickmark">
        <div style="width: 60%;">
          <ion-label>CRemove Signboard</ion-label>
        </div>
        <div>
          <ion-radio-group name=" " [(ngModel)]="userdetails.RemoveSignboard">
            <ion-item lines="none">
              <ion-radio slot="start" value="yes"></ion-radio>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>
   <div class="tickmark">
        <div style="width: 60%;">
          <ion-label>Ensure that no tools are left over</ion-label>
        </div>
        <div>
          <ion-radio-group name=" " [(ngModel)]="userdetails.notoolsareleftover">
            <ion-item lines="none">
              <ion-radio slot="start" value="yes"></ion-radio>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>




    </div>

    <div style=" text-align: center; margin-top: 16px;">

      <ion-lable style=" text-align: center; color: #000; font-weight:700">
Required Safety, Spares, Tools & Tackles (For Use)
      </ion-lable>
    </div>


    <div style="margin-top: 5%;">

      <div class="tickmark">
        <div style="width: 60%;">
          <ion-label>Apply Lock In & Tag Out Notice</ion-label>
        </div>
        <div>
          <ion-radio-group name=" " [(ngModel)]="userdetails.ApplyLock">
            <ion-item lines="none">
              <ion-radio slot="start" value="yes"></ion-radio>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>

      <div class="tickmark">
        <div style="width: 60%;">
          <ion-label>Personal Protective Emergency</ion-label>
        </div>
        <div>
          <ion-radio-group name=" " [(ngModel)]="userdetails.PersonalProtective">
            <ion-item lines="none">
              <ion-radio slot="start" value="yes"></ion-radio>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>

      <div class="tickmark">
        <div style="width: 60%;">
          <ion-label>Waste Clothes</ion-label>
        </div>
        <div>
          <ion-radio-group name=" " [(ngModel)]="userdetails.WasteClothes">
            <ion-item lines="none">
              <ion-radio slot="start" value="yes"></ion-radio>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>

      <div class="tickmark">
        <div style="width: 60%;">
          <ion-label>CRC (Rust Cleaning Agent)</ion-label>
        </div>
        <div>
          <ion-radio-group name=" " [(ngModel)]="userdetails.CRC">
            <ion-item lines="none">
              <ion-radio slot="start" value="yes"></ion-radio>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>

      <div class="tickmark">
        <div style="width: 60%;">
          <ion-label>Multimeter</ion-label>
        </div>
        <div>
          <ion-radio-group name=" " [(ngModel)]="userdetails.Multimeter">
            <ion-item lines="none">
              <ion-radio slot="start" value="yes"></ion-radio>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>
      <div class="tickmark">
        <div style="width: 60%;">
          <ion-label>Tool Set </ion-label>
        </div>
        <div>
          <ion-radio-group name=" " [(ngModel)]="userdetails.ToolSet">
            <ion-item lines="none">
              <ion-radio slot="start" value="yes"></ion-radio>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
      </div>
    </div>

  </ion-grid>

  <div style=" text-align: center; margin-top: 16px;">

    <ion-lable style=" text-align: center; color: #000; font-weight:700">
 PARAMETERS MEASURED
    </ion-lable>
  </div>

  <table>
    <thead>
      <tr>
        <th>Checklist </th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Earthing Resistance (Ohm)</td>
        <td>
          <ion-item>
            <ion-input type="text" [(ngModel)]="userdetails.EarthingResistance"></ion-input>
          </ion-item>
        </td>
      </tr>
      <tr>
        <td>Frequency (Hz)</td>
        <td>
          <ion-item>
            <ion-input type="text" [(ngModel)]="userdetails.Frequency"></ion-input>
          </ion-item>
        </td>
      </tr>
      <tr>
        <td>Current (Amps)</td>
        <td>
          <ion-item>
            <ion-input type="text" [(ngModel)]="userdetails.Current"></ion-input>
          </ion-item>
        </td>
      </tr>
      <tr>
        <td>Power Factor (Watt/Cos)</td>
        <td>
          <ion-item>
            <ion-input type="text" [(ngModel)]="userdetails.PowerFactor"></ion-input>
          </ion-item>
        </td>
      </tr>
      <tr>
        <td>Supply 1-Phase Voltage (Volts)</td>
        <td>
          <ion-item>
            <ion-input type="text" [(ngModel)]="userdetails.SupplyonePhaseVoltage"></ion-input>
          </ion-item>
        </td>
      </tr>
      <tr>
        <td>Supply 3-Phase Voltage (Volts)</td>
        <td>
          <ion-item>
            <ion-input type="text" [(ngModel)]="userdetails.SupplythreePhaseVoltage"></ion-input>
          </ion-item>
        </td>
      </tr>
 
    </tbody>
  </table>






  <div style="    border: 1px solid #09475e;
  margin: 5px;">
    <canvas #signaturePad width="300" height="150"></canvas>
  </div>
  <div class="sign_button" *ngIf="hidd_pad" style="display: flex; justify-content: space-around; margin-top: 5%;">
    <ion-button (click)="clearSignature()" style="--background: #eee8e8; color: black;">Clear Signature</ion-button>
    <div>
      <ion-button style="--background: #0b7ba1;;" (click)="saveSignature()">Save Signature</ion-button>
    </div>

  </div>
  <div>

  </div>
  <div style="margin-bottom: 10%; display: flex; justify-content: space-around;">
    <div>
      <ion-button (click)="submit ()" class="button22" expand="block"> Submit </ion-button>

    </div>
  </div>
</ion-content>